html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0px auto;
}

.header__conteiner {
    display: flex;
    height: 90px;
    justify-content: space-between;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 12rem;
}
.header__burger {
    padding: 4.3rem 1.7rem 0rem 1.5rem;
    display: none;
    justify-content: space-between;
}

.burger__button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 0.4rem; */
    /* width: 2.6rem; */
    height: 2.2rem;
    padding-top: 5px;
    padding-right: 5px;
    transition: all 0.3s ease 0s;
}
.destination__nav-incard-conteiner {
    display: none;
}
.burger__conteiner {
    position: fixed;
    width: 100%;
    height: 200%;
    right: -100%;
    background: rgba(41, 41, 41, 0.6);
}

.burger__menu {
    z-index: 20;
    display: none;
    flex-direction: column;
    background-color: #F2785C;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
}

.burger__close-button {
    cursor: pointer;
    margin: 0.8rem 0rem 0.6rem 0.8rem;
    width: 30px;
    height: 30px;
}
.burger__nav {
    padding: 0rem 1.5rem 3rem 4.4rem;
}
.burger__button  div {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 2.6rem;
    gap: 0.4rem;
    border-radius: 1rem;
  }
.burger__button:hover {
    cursor: pointer;
}

/* .burger__button:active {
    transform: rotate(-90deg);
} */

.logo__img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.logo__name {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;

    color: #FFFFFF;
}

.header__navigation {
    margin: 3.4rem 27px 0rem 0px;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    gap: 4.2rem;
    padding: 0rem;
    margin: 0rem;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    list-style-type: none;
    text-decoration: none;

    color: #FFFFFF;
}

.navigation__menu a:hover {
    /* text-decoration: underline; */
    color: black;
    transition: all 0.3s ease;
}

.navigation__menu a:active {
    color: #0D606F;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.3rem;
    height: 4.1rem;
    margin: 2.5rem 11.9rem 3rem 0px;
    cursor: pointer;
    border-style: none;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.header__button:hover {
    background-color: #F2785C;
    transition: all 0.3s ease;
}

.header__button:active {
    background-color: black;
}

.button__login {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: #FFFFFF;
}

.preview {
    height: 765px;
    background: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg);
    background-repeat:round;
}

/* .head__content {
    display: flex;
    flex-direction: column;
    margin: 2.6rem 0rem 0rem 12rem;
    justify-content: space-between;
} */

.content__plan{
    display: flex;
    flex-direction: column;
    max-width: 892px;
    /* height: 422px; */
    gap: 3.4rem;
    margin: 3rem 0rem 0rem 12rem;
    justify-content: space-between;
}

.plan__preview {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.6rem;

    color: #FFFFFF;
}

.plan__info {
    padding: 0rem;
    margin: 0rem;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;

    color: #FFFFFF;
}

.plan__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 892px;
    height: 95px; */
    margin-top: 1.2rem;
    
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.plan__text {
    margin-left: 4.1rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;

    color: #F2785C;
}

.plan__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.35rem 3.4rem 1.35rem 3.3rem;
    margin: 1.8rem;
    cursor: pointer;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border-style: none;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #FFFFFF;
}

.plan__button:hover {
    background-color: #F2785C;
    transition: all 0.3s ease;
}

.plan__button:active{
    background-color: black;
}

.steps__conteiner {
    display: flex;
    flex-direction: column;
    padding-bottom: 9.7rem;
    
}

.steps__name {
    margin: 8rem 0rem 4rem 0rem;
    align-self: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;

    color: #F2785C;
}

.steps__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixel-fix {
    margin-left: 7rem;
}

.steps__content {
    margin: 0rem 13.2rem 0rem 13.1rem;
    display: flex;
    /* gap: 19rem; */
    justify-content: space-between;
}

.card__name {

    margin-top: 3rem;
    margin-bottom: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;

    color: #0D606F;
}

.destinations__conteiner {
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    
}

.destinations__name {
    margin: 0rem 0rem 4.6rem 0rem;
    padding: 0rem;

    align-self: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;

    color: #F2785C;
}

.destinations__cards {
    display: flex;
    gap: 6rem;
    /* overflow: hidden; */
    justify-content: center;
    transition: all 0.7s ease-in-out;
}

.destinations__slide {
    border-radius: 1.6rem; 
}
.slide__arrow-conteiner{
    position: absolute;
    display: none;
    gap: 31rem;
    align-self: center;
    /* margin-top: 9rem; */
}

.rotate {
    transform: rotate(-180deg);
}

.slide__arrow {
    opacity: 0.5;
}

.slide__arrow:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
}

.arrow-active {
    opacity: 1;
}

.destinations__slide-back {
    display: flex;
    border-radius: 1.6rem; 
    width: 800px;
    height: 800px;
}

.sea {
    background: url(../assets/img/Rectangle23.jpg);
}

.sea p{
    display: flex;
    flex-direction: column-reverse;
    margin: 0rem;
    padding: 0rem 0rem 4rem 1.5rem;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;

    color: #FFFFFF;
}

.usa {
    background: url(../assets/img/Rectangle25.jpg);
}

.usa p{
    display: flex;
    flex-direction: column-reverse;
    margin: 0rem;
    padding: 0rem 0rem 4rem 1.5rem;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;

    color: #FFFFFF;
}

.japan {
    background: url(../assets/img/Rectangle24.jpg);

}

.japan p{
    display: flex;
    flex-direction: column-reverse;
    margin: 0rem;
    padding: 0rem 0rem 4rem 1.5rem;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;

    color: #FFFFFF;
}

.destinations__nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2.4rem 0rem 4rem 0rem;
}

.destinations__nav-button {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    border-color: rgba(242, 120, 92, 0.5);
    border: none;
}
.nav-button-active {
    background: #F2785C;
    
}

.destinations__nav-button:hover{
    cursor: pointer;
    background: #F2785C;
    transition: all 0.3s ease;
}

.destinations__nav-button:active {
    background-color: black;
}

.destinations__button {
    display: flex;
    align-self: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    align-items: center;
    color: #FFFFFF;
    gap: 1rem;
    margin-left: 0.3rem;
}



/* .destinations__button-name {
    margin: 1.35rem 3.1rem 1.35rem 0rem;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
} */

.destinations__button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 1rem;
    border: none;

    padding: 1rem 3.4rem 0.9rem 0rem;
    color: #FFFFFF;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
}

.destinations__button-style:hover {
    background-color: #F2785C;
    transition: all 0.3s ease;
}

.destinations__button-style:active {
    background-color: black;
}

.destinations__button-icon-style {
    width: 4rem;
    height: 4rem;
    margin-left: 3.1rem;
}


.stories__card-conteiner {
    background: url(../assets/img/Rectangle33.jpg);
    max-width: 1440px;
    max-height: 1331px;
}

.stories__title {
    margin: 0rem;
    /* padding: 3.32rem; */
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;

    color: #F2785C;
}

.stories__cards {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    padding-top: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.river {
    background: url(../assets/img/Rectangle29.jpg);
}

.road {
    background: url(../assets/img/Rectangle30.jpg);
}
.mountains {
    background: url(../assets/img/Rectangle31.jpg);
}

.desert {
    background: url(../assets/img/Rectangle32.jpg);
}

.stories__card-img {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    /* padding-top: 10px; */
    /* width: 400px;
    height: 250px; */
    padding: 25rem 25rem 0rem 15rem;
}

.stories__card {
    margin: 0rem 12rem;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 4rem;
    padding-top: 3rem;
}

.stories__card a:hover {
    color: black;
    transition: all 0.3s ease;
}

.stories__card a:active {
    color: #F2785C;
}

.stories__card-text-conteiner {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.stories__card-text-conteiner h3 {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.2rem;

    color: #0D606F;
}

.stories__card-text-conteiner p {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #0D606F;
}

.stories__card-text-conteiner a {
    font-style: normal;
    font-weight: 700;
    color: #0D606F;

}

.stories__card-text-conteiner h3 {
    margin: 0rem 0rem 2.4rem 0rem;
    padding: 0rem;
    color: #0D606F;
}

.stories__button {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4.1rem;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 228px;
    height: 59px;
    gap: 1rem;
    cursor: pointer;
    padding: 0rem;
    padding-right: 10px;
    margin-left: 5px;

    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #FFFFFF;

}

.stories__button:hover {
    background-color: #F2785C;
    transition: all 0.3s ease;
}

.stories__button:active {
    background-color: black;
}

.footer__conteiner {
    display: flex;
    gap: 32.8rem;
    justify-content: center;
    /* align-items: center; */
    margin-top: 0.5rem;
    margin-bottom: 1.335rem;
    justify-content: flex-end;
    margin-right: 23rem;
    /* justify-content: space-between; */
}

.footer__text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: #FFFFFF;
}

.footer__icons {
    display: flex;
    gap: 1.9rem;
    width: 33.65px;
    list-style-type: none;
    padding: 0rem;
    /* padding-left: 0.2rem; */
    /* height: 33.65px; */

}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.footer__contact-icons {
    width: 50px;
    height: 50px;
}
.RS-icon {
    width: 100px;
}

.login {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -150%;
    transition: all 0.5s ease 0s;
  
}

.login-active {
    /* display: flex; */
    top: 0;
}
.login__conteiner {
    display: flex;
    flex-direction: column;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    }

.login__sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0rem;
    padding: 2.5rem 16.1rem 3rem 16.1rem;
    color: #0D606F;
    }

.login__facebook {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 16.3rem 1.5rem 16.3rem;
    background: #1877F2;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}

.login__facebook:hover {
    background: #1452a3;
}

.login__facebook-name {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0rem;
    color: #FFFFFF;
}
.login__google {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 17.3rem 1.5rem 17.3rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    margin-bottom: 3rem;
    transition: all 0.3s ease;
}

.login__google:hover {
    background: #e8dede;
}

.login__google-name {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 0rem;
    color: #0D606F;
}

.login__or {
    display: flex;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgba(13, 96, 111, 0.5);
    margin-bottom: 1rem;
    
}

span {
    padding: 0rem 0.9rem;
}

hr {
    width: 26rem;
    color: rgba(13, 96, 111, 0.5);
}

.login__mail {
    align-self: flex-start;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0rem 0rem 0.5rem 0rem;

    color: #0D606F;
}

.login__form {
    display: flex;
    flex-direction: column;
    
}

.password {
    margin-top: 2rem;
}

.login__form input {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    font-size: 2rem;
    width: 560px;
    height: 54px;
}

.login__submit {
    align-self: center;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    background: #0D606F !important;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background: #259aaf;
    color: #FFFFFF;
    transition: all 0.3s ease;
}
.login__submit:hover {
    background: #259aaf !important;
}

.login__forgot {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    text-decoration-line: underline;

    color: #0D606F;

    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.login__line {
    min-width: 560px;
    border: 1px solid rgba(13, 96, 111, 0.5);
    margin-top: 2.6rem;
    margin-bottom: 2rem;
}

.login__dont-have {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 2.3rem;
    color: rgba(13, 96, 111, 0.5);

    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.login__register {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #0D606F;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.login__create {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-size {
    padding: 2.5rem 21.5rem 3rem 21.6rem;
}

.active {
    display: flex;
}

.hide {
    display: none;
}

.slide-active{
    display: block;
}

@media screen and (max-width: 1300px) {
    .footer__contact {
        display: none;
    }

    .content__plan {
        margin: 3rem 0rem 0rem 6rem;
    }
}

@media screen and (max-width: 954px) {

    .burger__menu {
        position: fixed;
        display: flex;
        right: -100%;
    }

    .burger__menu-active {
        right: 0%;
        z-index: 1;
    }

    .navigation__menu {
        flex-direction: column;
        gap: 1rem;
    }

    .header__burger{
        display: flex;
    }

    .preview__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__conteiner {
        display: none;
    }
    .plan__preview {
        display: none;
    }
    .plan__info {
        display: none;
    }
    .content__plan {
        margin: 0rem;
    }

    .plan__start {
        margin: 6.9rem 1.5rem 6rem 1.5rem;
        gap: 3rem;
    }
    .plan__text {
        font-family: 'Aleo';
        font-style: italic;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 1.6rem;
        margin-right: 4rem;
    }

    .plan__button {
        margin: 0rem;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding: 0.75rem 0.9rem;
        margin: 0.9rem;
    }
    .steps__name {
        margin: 2rem 0rem 2rem 0rem;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    .steps__content {
        margin: 0rem;
        gap: 5rem;
        margin: 0rem 1.5rem;
    }

    .pixel-fix {
        margin: 0rem;
        gap: 0rem;
        white-space: nowrap;
    }
    .steps__card {
        display: flex;
        text-align: center;
        justify-content: normal;
    }
    .steps__card img{
        width: 80px;
        height: 70px;
    }
    .card__name {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2rem;
        margin: 2rem 0rem 0rem 0rem;
    }
    .steps__conteiner {
        padding-bottom: 2rem;
    }
    .destinations__name {
        margin: 0rem 0rem 2rem 0rem;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    .destinations__slide-back {
        width: 360px;
        height: 210px;        
    }
    .destinations__cards p{
        margin: 0rem;
        padding: 0.8rem 0rem 0rem 1.5rem;
        flex-direction: row;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.6rem;
    }
    .japan {
        background: url(../assets/img/Rectangle34Mini.jpg);
    }
    .sea {
        background: url(../assets/img/Rectangle26Mini.jpg);
    }
    .usa {
        background: url(../assets/img/Rectangle35Mini.jpg);
    }
    .destinations__nav {
        display: none;
    }

    .destinations__cards {
        justify-content: normal;
        margin: 0rem 1.5rem;
    }

    .destination__nav-incard-conteiner {
        display: flex;
        position: absolute;
        align-self: center;
        gap: 0.6rem;
        margin-top: 23rem;
    }

    .destinations__nav-button {
        width: 8px;
        height: 8px;
    }
    
    .destinations__button-style {
        margin-top: 1rem;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        gap: 0rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding: 0.75rem 1.2rem 0.75rem 0.6rem;
    }
    .destinations__button-icon-style {
        width: 10px;
        height: 10px;
        padding-right: 6px;
        padding-left: 6px;
        margin-left: 0rem;
    }
    .destinations__button{
        margin-left: 0rem;
    }
    .slide__arrow-conteiner {
        display: flex;
        position: absolute;
        margin-top: 13rem;
    }
    .destinations__conteiner {
        padding-bottom: 2rem;
    }

    .stories__title {
        margin-bottom: 1rem;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    .preview {
        /* background: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash2Mini.jpg); */
        height: 0%;
    }

    .destinations__cards {
        justify-content: center;
    }
    /* .stories__cards {
        gap: 1.5rem;
    } */
    .stories__card{
        margin: 0rem 1.5rem;
        padding: 0rem;
        gap: 1rem;
        margin-bottom: 15px;
    }
    .stories__card-img {
        padding: 13rem 8rem 0rem 7rem;
        background-repeat: no-repeat;
    }   
    .river {
        background-image: url(../assets/img/Rectangle15mobail.jpg);
     }

     .road {
        background-image: url(../assets/img/Rectangle16mobail.png);
     }

     .mountains {
        background-image: url(../assets/img/Rectangle27Mobail.png);
     }

     .desert {
        background-image: url(../assets/img/Rectangle17Mobail.png);
     }

    .stories__card-text-conteiner{
        /* display: flex;
        flex-direction: column; */
        padding-top: 5px;
    }
    .stories__card-text-conteiner h3 {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin: 0rem 0rem 1rem 0rem;
    }
    .stories__card-text-conteiner p {
        /* width: 195px;
        height: 102px; */
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    .stories__button {
        margin: 0rem 0rem 1.3rem 0rem;
        width: 92px;
        height: 30px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-right: 1.35rem;
        /* padding: 0.75rem 1.35rem 0.75rem 0.6rem; */
        gap: 0.6rem;
    }

    .stories__button {
        margin-bottom: 13px;
        margin-top: -5px;
    }
    .stories__button img {
        width: 1rem;
        height: 1rem;
        margin-left: 1.2rem;
    }
    .footer__conteiner{
        margin: 0rem;
        padding: 0rem;
        gap: 0rem;
        justify-content: center;
        align-items: center;
    }
    .footer__contact{
        display: none;
    }
    .footer__text {
        display: none;
    }
    .footer__icons {
        width: 0%;
        /* gap: 2rem; */
        margin: 1.5rem 0rem 1.3rem 0rem;
        padding: 0rem;
        margin-left: 9px;
    }
}

@media screen and (max-width: 686px) {
    .login__title {
        font-size: 2.2rem;
    }

    .login__facebook {
        padding: 1.5rem 5.3rem 1.5rem 5.3rem;
    }

    .login__google {
        padding: 1.5rem 6.3rem 1.5rem 6.3rem;
    }

    hr {
        width: 14rem;
    }

    .login__form input{
        width: 335px;
    }

    .login__line {
        min-width: 335px;
    }

    .login__title {
        padding: 2.5rem 7.1rem 3rem 7.1rem;
    }

    .title-size {
        padding: 2.5rem 11.1rem 3rem 11.1rem;
    }
}


@media screen and (max-width: 391px){
    .preview {
        background: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash2Mini.jpg);
        height: 0%;
        background-repeat: no-repeat;
    }
    .stories__card-conteiner {
        background: url(../assets/img/Rectangle28Mini.jpg);
    }
    /* .destinations__cards {
        justify-content: normal;
    } */
    
}
@media screen and (max-width: 389px) {

    .stories__card-text-conteiner {
        display: block;
    }
    /* .destinations__cards {
        padding-left: 1rem;
    } */
    .slide__arrow-conteiner {
        gap: 28rem;
    }
    .steps__content {
        gap: 0rem;
    }
    .destinations__slide-back {
        width: 340px;
    }
}

@media screen and (max-width: 370px) {

    .stories__card {
        align-items: center;
    }
    .destinations__slide-back {
        width: 280px;
    }
    /* .destinations__cards {
        padding-left: 3rem;
    } */

    .slide__arrow-conteiner {
        gap: 24rem;
    }
}

@media screen and (max-width: 340px) {
    .destinations__slide-back {
        width: 230px;
    }

    .slide__arrow-conteiner {
        gap: 15rem;
    }
}

@font-face {
    font-family: 'Magra';
    src: url(../assets/font/Magra-Regular.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/font/RedHatText-Medium.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/font/Aleo-Bold.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: url(../assets/font/Aleo-BoldItalic.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: url(../assets/font/Aleo-Italic.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/Aleo-Regular.ttf);
}