html {
    font-size: 10px;
}

.wrapper {
    width: 1440px;
    margin: 0px auto;
}

.header__conteiner {
    display: flex;
    height: 90px;
    justify-content: space-between;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-left: 12rem;
}

.logo__img {
    width: 3rem;
    height: 3rem;
}

.logo__name {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.9rem;

    color: #FFFFFF;
}

.header__navigation {
    margin: 2.9rem 0px 4rem 0px;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    gap: 4.2rem;
    padding: 0rem;
    margin: 0rem;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    list-style-type: none;

    color: #FFFFFF;
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.3rem;
    height: 4.1rem;
    margin: 1.9rem 12rem 3rem 0px;

    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.button__login {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;

    color: #FFFFFF;
}

.preview {
    height: 765px;
    background: url(../assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
}

/* .head__content {
    display: flex;
    flex-direction: column;
    margin: 2.6rem 0rem 0rem 12rem;
    justify-content: space-between;
} */

.content__plan{
    display: flex;
    flex-direction: column;
    width: 892px;
    height: 422px;
    margin: 2.6rem 0rem 0rem 12rem;
    justify-content: space-between;
}

.plan__preview {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.6rem;

    color: #FFFFFF;
}

.plan__info {
    padding: 0rem;
    margin: 0rem;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;

    color: #FFFFFF;
}

.plan__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 892px;
    height: 95px; */
    
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}

.plan__text {
    margin-left: 4.1rem;
    padding: 0rem;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;

    color: #F2785C;
}

.plan__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.35rem 3.25rem;
    margin: 1.8rem;

    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;

    color: #FFFFFF;
}

.steps__conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 9.9rem;
}

.steps__name {
    margin: 10rem 0rem 4rem 0rem;
    align-self: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.3rem;

    color: #F2785C;
}

.steps__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps__content {
    display: flex;
    justify-content: space-around;
}

.card__name {

    margin-top: 3rem;
    margin-bottom: 0rem;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;

    color: #0D606F;
}























@font-face {
    font-family: 'Magra';
    src: url(../assets/font/Magra-Regular.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url(../assets/font/RedHatText-Medium.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    src: url(../assets/font/Aleo-Bold.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    src: url(../assets/font/Aleo-BoldItalic.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    src: url(../assets/font/Aleo-Italic.ttf);
}

@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/Aleo-Regular.ttf);
}